@media screen and (max-width: 650px) {
    body {
        #actions {
            flex-direction: column;

            a {
                width: calc(100vw - 50px);
                margin: 5px 0px;
            }
        }

        #content span, #content span.reverse {
            flex-direction: column;

            img,
            div {
                max-width: 100%;
                margin: 10px 0px;
            }

            h1 {
                margin-bottom: 5px;
            }
        }
    }
}

main {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    inset: 0px;
    scroll-behavior: smooth;

    center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    * {
        transition: opacity 200ms ease-in-out;
    }
}

.popup {

    .content {
        padding: 3px;
        border-radius: 3px;
        background: #212529;
        border: 1px solid #343a40;
        position: absolute;
        transform: translateY(-3.1em);
        opacity: 0;
        transition: 100ms ease-out;
    }

    &:hover .content {
        opacity: 1;
        transform: translateY(-3.3em);
    }
}

#actions {
    margin: 10px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    a {
        width: 200px;
        margin: 0px 5px;
    }
}

#disclaimer {
    font-size: x-small;
    color: #6c757d;
}

#content {
    background: #212529;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 100vh;

    span {
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px #343a40;

        &.reverse {
            flex-direction: row-reverse;
        }

        img,
        div {
            max-width: 45%;
            margin: 0px 20px;
        }
    }

    :last-child {
        border: none;
    }
}

.disclaimer {
    font-size: xx-small;
    color: #6c757d;

    &.main {
        font-size: inherit;
    }
}

.premium {
    background: #f3708b;
    background: linear-gradient(90deg, #f9906e, #e10ee1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none !important;
    font-weight: 700;
}